n8n-workflows/Contact Form Submission.json
{
  "name": "Contact Form Submission",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        -80
      ],
      "id": "95cff502-ee8c-452b-bd79-e35f2dedb41c",
      "name": "Webhook",
      "webhookId": "e8eee6d4-8529-4446-bcf8-be19e022e868"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PflbP-ODahm-3Srg9X0acGUSe96Jki9dGaZvLLOJfRA",
          "mode": "list",
          "cachedResultName": "Contact Submissions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PflbP-ODahm-3Srg9X0acGUSe96Jki9dGaZvLLOJfRA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PflbP-ODahm-3Srg9X0acGUSe96Jki9dGaZvLLOJfRA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "name": "={{ $json.body.name }}",
            "email": "={{ $json.body.email }}",
            "message": "={{ $json.body.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        -80
      ],
      "id": "15c2e532-fcc2-4247-80d0-16d9a9c5d47b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ULHqumagixLjwLW7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "malikharis3984@gmail.com",
        "subject": "New PlateCheck contact form submission",
        "emailType": "text",
        "message": "=New message from {{ $('Webhook').item.json.body.name }} ({{ $('Webhook').item.json.body.email }}):\n\n{{ $('Webhook').item.json.body.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -48,
        -80
      ],
      "id": "74e33e6d-8088-4ad9-9515-f85cfb1afac6",
      "name": "Send a message",
      "webhookId": "678062de-e4df-4b35-bee2-413798ef3c19",
      "credentials": {
        "gmailOAuth2": {
          "id": "xJE6g9fVWgR0kWGH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        160,
        -80
      ],
      "id": "498d1a31-78b9-44a6-93f0-53fff875b628",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "80a3dc31-e5ee-48ef-9e4e-5f7284f607c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "703dbf1457be9ba8a0b61ef8297179cdbb62200e913bd579c56fc05faf683aeb"
  },
  "id": "dHwv9XHMWhv9yF1K",
  "tags": []
}